/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	text-decoration: none;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@font-face {
    font-family: 'Bebas Neue';
    src: url('BebasNeue_Regular.otf') format('embedded-opentype'),
         url('BebasNeue_Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Myriad Pro Semibold';
    src: url('Myriad Pro Semibold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
	min-width: 480px;
	background: url(../images/back.jpg);
	font-family: Bebas Neue, Verdana, tahoma;
	color: #8c8c8c;
}

h1{
	font-family: Bebas Neue, Verdana, tahoma;
	font-size: 60px;
	text-align: center;
}

h2 {
	font-family: Bebas Neue, Verdana, tahoma;
	font-size: 40px;
	font-weight: bold;
	color: #d14343;
	text-align: left;
	padding: 10px 0px 5px 15px;
}

h3 {
	font-family: Bebas Neue, Verdana, tahoma;
	font-size: 24px;
	font-weight: bold;
	color: #8c8c8c;
	text-align: left;
	padding: 10px 0px 5px 15px;
}

p, figcaption, .skills-list > li, .form label, address > h4 {
	line-height: 1.3;
	font-family: Verdana;
	font-size: 12px;
}

strong {
	font-weight: bold;
}

.upper {
	text-transform: uppercase;
}

.main {
	margin: 0 auto;
	width: 80%;
}

header {
	margin-top: 40px;
}

.logo {
	float: left;
}

.logo-name, .logo-portfolio {
	display: block;
	text-transform: uppercase;
	font-weight: bold;
	text-align: left;
}

.logo-name {
	font-family: Verdana;
	font-size: 11px;
	color: #d14343;
	padding: 0px 0px 5px 0px;
}

.logo-portfolio {
	font-size: 40px;
	color: #8c8c8c;
	border-bottom: 4px solid #8c8c8c;
	padding: 0px 0px 3px 0px;
}

.menu {
	float: right;
}

.menu nav li {
    list-style-position: inside;
    font-weight: bold;
    font-size: 22px;
    padding: 0 3px;
    margin: 24px 0 0 2px;
    display: inline-block;
}

.menu nav li a {
	color: #c0bfbd;
}

.menu .active {
	border-bottom: 3px solid #8c8c8c;
}

.slogan, .contact-info, .other-contacts {
	width: 100%;
	float: left;
}

.slogan-inner {
	padding: 30px 45px 50px 45px;
	font-family: 'Myriad Pro Semibold', Arial;
}

.underlined {
	border-bottom: 3px solid #dfdedc;
	margin-right: 10px;
}

.about-skills {
	width: 100%;
	float: left;
	margin-bottom: 30px;
}

.about, .skills, .contacts, .form {
	width: 50%;
	float: left;
}

.web {
	width: 50%;
	float: left;
	padding-top: 15px;
}

.graphic {
	width: 50%;
	float: left;
	padding-top: 15px;
}

.logo-foto {
	float: left;
	padding: 15px 8px 15px 15px;
}

.about-me {
	padding-top: 15px;
	padding-right: 8px;
	padding-bottom: 15px;
}

.skills-list {
 	list-style-type: disc;
 	list-style-position: inside;
 	color: #dc6565;
 	margin-left: 10px;
}

.skills h3 {
	margin-bottom: 5px;
}

.skills-list li span{
	color: #8c8c8c;
}

.works {
	width: 100%;
	float: left;
	margin-top: 20px;
	margin-bottom: 30px;
}

.works-h {
	width: 100%;
	margin: 0;
	padding: 0;
}

.works-h2 {
	width: 50%;
	float: left;
}

.my-works {
	padding: 0 0 5px 15px;
	margin-right: 0px;
}

.works-menu {
	width: 50%;
	float: right;
	text-align: right;
	margin: 0;
	padding: 15px 0 5px 0px;
}

.works-menu li {
   	font-family: 'Myriad Pro Semibold', Arial;
    font-weight: bold;
    font-size: 14px;
    padding-right: 10px;
    margin-top: 10px;
    display: inline-block;
}

.works-menu li a {
	color: #8c8c8c;
}

.works-menu .active {
	color: #d14343;
}

figure {
    display: inline-block; 
    margin: 0 10px 18px 10px;
    text-align: center;
    position: relative;
}

figure a {
	display: block;
	width: 220px;
    height: 130px;
    overflow: hidden;
    background-color: white;
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.2);
    -o-box-shadow: 0 1px 3px rgba(0,0,0,0.2);
    box-shadow: 0 1px 3px rgba(0,0,0,0.2);
}

figure:before, figure:after{
	content: '';
	position: absolute;
	width: 10%;
	height: 70%;
	top: 5px;
	left: 15px;
	z-index: -1;
	-webkit-box-shadow: -15px 0 10px rgba(0,0,0,0.6);
	-moz-box-shadow: -15px 0 10px rgba(0,0,0,0.6);
	-o-box-shadow: -15px 0 10px rgba(0,0,0,0.6);
	box-shadow: -15px 0 10px rgba(0,0,0,0.6);
}

figure:after{
	left: auto;
	right: 15px;
	-webkit-box-shadow: 15px 0 10px rgba(0,0,0,0.6);
	-moz-box-shadow: 15px 0 10px rgba(0,0,0,0.6);
	-o-box-shadow: 15px 0 10px rgba(0,0,0,0.6);
	box-shadow: 15px 0 10px rgba(0,0,0,0.6);
	-webkit-transform: rotate(4deg);
	-moz-transform: rotate(4deg);
	-o-transform: rotate(4deg);
	transform: rotate(4deg);
}

figure:before {
	-webkit-transform: rotate(-4deg);
    -moz-transform: rotate(-4deg);
    -o-transform: rotate(-4deg);
    transform: rotate(-4deg);
}

figcaption {
	margin-top: 10px;
}

.works-list {
	float: left;
	width: 100%;
	text-align: center;
}

.works-list li {
	display: inline-block;
	list-style-type: none;
	width: 220px;
	margin: 0px 6px;
	padding: 1em;
}

.form {
	width: 50%;
	float: left;
}

.form-name, .form-email, .form-message {
	display: block;
}

form input[type="text"],
form input[type="email"] {
	width: 95%;
	height: 25px;
	margin: 5px 0;
}

.form-login {
	width: 100%;
	float: left;
	margin-bottom: 10px;
	box-sizing: border-box;
	padding-left: 15px;
}

.form-name, .form-email {
	width: 50%;
	float: left;
}

.form-message {
	width: 100%;
	float: left;
	margin: 0 auto;
	padding-left: 15px;
}

.form-message textarea {
	width: 95%;
	height: 120px;
	margin: 5px 0;
	resize: none;
}

.form-submit {
	float: left;
	padding-left: 15px;
}

form .submit-button {
    background: #d14343;
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    padding: 4px 25px;
    border-radius: 7px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    font-family: Bebas Neue, Verdana, tahoma;
    background: -moz-linear-gradient(0% 100% 90deg, #c05959, #df7b7b);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#df7b7b), to(#c05959));
}

.address {
	width: 50%;
	float: right;
}

.map {
	float: left;
	margin: 0px 15px;
}

.googlemap {
	position: relative;
	width: 240px;
	height: 200px;
	border: 0;
/*	frameborder: 0;
	z-index: 2;*/
}

/*.map img {
	position: relative;
	z-index: 3;
	left: -242px;
}

.map:hover img {
	z-index: 1;
}*/

address {
	float: left;
	margin-left: 20px;
	vertical-align: middle;
/*	position: relative;
	z-index: 4;
	left: 242px;
	top: -202px;*/
}

address > h4 {
	font-weight: bold;
	color: #8c8c8c;
	text-align: left;
	padding: 10px 0px 5px 0px;
}

footer > p > a, address a {
	color: #dc6565;
}

footer {
	width: 100%;
	float: left;
	min-height: 100px;
}

footer > p {
	display: inline-block;
	float: left;
	padding: 5px 0px 0px 15px;
}

.copyrigth-text {
	width: 50%;
	float: left;
	padding-top: 11px;
}

.copyright-icons {
	float: right;
	padding: 5px 15px 0px 0px;
}

.logo-twitter, .logo-fb, .logo-earth, .logo-youtube {
	display: inline-block;
	background: url('../images/social-logo.jpg') no-repeat 0 0;
	width: 26px;
	height: 30px;
}

.logo-fb {
	background-position: -36px 0;
}
 
.logo-earth {
	background-position: -69px 0;
}

.logo-youtube {
	background-position: -102px 0;
}